<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
    </head>
    <body>
        <style>
            body {
                margin: 0;
                background-color: #303030;
            }
            h1 {
                font-family: Arial, Helvetica, sans-serif;
                color: white;
            }
            .image {
                padding: 10px;
            }
            .image_group {
                text-align: center;
            }
        </style>
        <h1 style="text-align: center;">{{ title }}</h1>
        <div class="image_group">
            {% for image in images %}
                <img src="/static/libraries/{{ id }}/{{ image }}" width="75%" class="image">
            {% endfor %}
        </div>
    </body>
</html>